body {
    display:flexbox;
    font-family: Arial, sans-serif;
    background-image:url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_640.jpg);
    text-align: center;
    margin: 0;
}
h1{
font-family:courier;
color:black;
}

.container {
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
}

button {
    padding: 5px 10px;
    background-color:black;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    background-color:transparent;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:last-child {
    border-bottom: none;
}
